PORT=3000

DB_HOST=server.rdb.superhosting.bg
DB_PORT=5432
DB_USERNAME=singburg_alfacampuser
DB_PASSWORD=NeftohimikBurgas86*
DB_NAME=singburg_alfacampdb

JWT_SECRET=SUPER_STRONG_RANDOM_SECRET
JWT_EXPIRES_IN=1d

SUPER_ADMIN_EMAIL=nachobakalov@email.com
SUPER_ADMIN_PASSWORD=STRONG_ADMIN_PASSWORD
SUPER_ADMIN_FIRST_NAME=Super
SUPER_ADMIN_LAST_NAME=Admin