PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=alfa_camp
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/alfa_camp?schema=public"
JWT_SECRET=change_me_in_production
JWT_EXPIRES_IN=1d
SUPER_ADMIN_EMAIL=admin@example.com
SUPER_ADMIN_PASSWORD=change_me_super_admin_password
SUPER_ADMIN_FIRST_NAME=Super
SUPER_ADMIN_LAST_NAME=Admin
